body{
    background-color: brown;
    
}

h1{
    font-size: 30px;
    color: beige;
    text-align: center;
    
}

h2{
    font-size: 30px;
    color: blanchedalmond;
    text-align: center;
    
}

.ul{
    color: #fff; 
    
}


.retangulo {
    background-color: #1D3557; /* Cor de fundo */
    height: 50px;
    width: 100%; /* Largura 100% da tela */
    display: flex; /* Utiliza flexbox para alinhamento */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    
}
